.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fe8b83;
}
.app .login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  background-color: white;
  border-radius: 20px;
  height: 80%;
}
.app .login_container .img {
  width: 150px;
  height: 150px;
}
.app .login_container .title {
  margin-bottom: 20px;
}
.app .login_container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.app .login_container .box .item {
  margin-bottom: 10px;
}
.app .login_container .box .item .title {
  margin: 0;
  margin-right: 10px;
  text-align: start;
}
.app .login_container .box .item input {
  outline: none;
  border: none;
  height: 25px;
  background-color: #d5d5d5;
  border-radius: 10px;
  padding: 5px;
}
.app .login_container .box .reset_btn {
  color: #fe8b83;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}
.app .login_container .box .btn {
  width: 50%;
  margin-top: 20px;
  background-color: #fe8b83;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.app .login_container .box .btn:hover {
  background-color: #FEC883;
}
.app .login_container .registPwd {
  display: flex;
  padding: 20px 10px;
  font-size: 14px;
}
.app .login_container .registPwd .btn {
  color: #fe8b83;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.app .login_container .footer {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fe8b83;
}
.app .regist_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px 10px;
  border-radius: 20px;
  height: 80%;
}
.app .regist_container .img {
  width: 100px;
  height: 100px;
}
.app .regist_container .L_title {
  color: #fe8b83;
  margin-bottom: 20px;
}
.app .regist_container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  width: 280px;
}
.app .regist_container .box .item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.app .regist_container .box .item .title {
  margin: 0;
  margin-right: 10px;
}
.app .regist_container .box .item input {
  outline: none;
  border: none;
  height: 20px;
  background-color: #d5d5d5;
  border-radius: 10px;
  padding: 5px;
}
.app .regist_container .box .btn {
  width: 50%;
  margin-top: 20px;
  background-color: #fe8b83;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.app .regist_container .box .btn:hover {
  background-color: #FEC883;
}
.app .regist_container .login_btn {
  color: #fe8b83;
  font-weight: 600;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  background-color: transparent;
}
.app .footer {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_container {
  background-color: #fe8b83;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  border-radius: 0 0 20px 20px;
}
.header_container .box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.header_container .box h3 {
  padding: 8px 0;
  color: #f5f5f5;
}
.header_container .box .search {
  display: flex;
  align-items: center;
}
.header_container .box .search input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 20px;
  margin-right: 10px;
}

.info_box {
  padding: 20px;
}
.info_box .title {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.info_box .title p {
  color: #fe8b83;
}
.info_box .items {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.info_box .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.popRecipe_box {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.popRecipe_box .title {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.popRecipe_box .title p {
  color: #fe8b83;
}
.popRecipe_box .cards {
  display: flex;
  overflow: auto;
}
.popRecipe_box .cards .card {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}
.popRecipe_box .cards .card img {
  width: 200px;
  border-radius: 20px;
}
.popRecipe_box .cards .card .content {
  padding: 10px;
  width: 100%;
}
.popRecipe_box .cards .card .content h3 {
  font-weight: 600;
}
.popRecipe_box .cards .card .content p {
  font-size: 14px;
}

.foryou_box {
  padding: 20px;
}
.foryou_box .title {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.foryou_box .title p {
  color: #fe8b83;
}
.foryou_box .cards {
  overflow: auto;
  height: 200px;
}
.foryou_box .cards .card {
  display: flex;
  background: #f5f5f5;
  width: 100%;
  margin: 20px 0;
}
.foryou_box .cards .card img {
  width: 100px;
}
.foryou_box .cards .card .content {
  padding: 10px;
  width: 100%;
}
.foryou_box .cards .card .content h3 {
  font-weight: 600;
}
.foryou_box .cards .card .content p {
  font-size: 14px;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 20px;
  background-color: #fe8b83;
}
.navbar .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .btn p {
  color: #f5f5f5;
}
.navbar .btn svg path {
  fill: #f5f5f5;
}/*# sourceMappingURL=all.css.map */